body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html{
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'NunitoBold';
  src: url('./style/font/Nunito-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'NunitoItalic';
  src: url('./style/font/Nunito-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Nunito';
  src: url('./style/font/Nunito-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}



