.wapper_table{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 90px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
    box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
    .title_table{
        font-size: 25px;
        text-align: center;
        margin: 50px 0 50px 0;
    }
}