.detail_header{
    .container{
        .introduce{
            .title{
                margin-top: 90px;
                font-size: 35px;
              
            }
            p{
                color: #757575
            }
        }

    }
}
.detail_body{
    margin-top: 50px;
}
.fb-like{
    width: 150px !important;
}
iframe[name="f588c46f7c56ec"]{
    width: 130px !important
} 