.detail_header {
    .container {
        .introduce {
            .title {
                font-family: NunitoBold;
                margin-top: 90px;
                font-size: 35px;
            }
            p {
                color: #757575;
                font-family: Nunito;
            }
        }
        .slider {
            .ant-image {
                    width:400px;
                    height:215px;
                    overflow: hidden;
                .ant-image-img{
                    width: 100%;
                    min-width:100%;
                    min-height:100%;
                    object-fit:cover;
                }
            }
        }
    }
}
.detail_body {
    margin-top: 50px;
    .container {
        .row {
            .col-8{
                .ant-tabs-top{
                    .ant-tabs-nav{
                        .ant-tabs-nav-wrap{
                            .ant-tabs-nav-list{
                                .ant-tabs-tab{
                                    .ant-tabs-tab-btn{
                                        font-family: NunitoBold;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                        
                    }
                  
                }
                .ant-tabs-content-holder{
                    .ant-tabs-content-top{
                        .ant-tabs-tabpane{
                            h2{
                                font-family: NunitoBold;
                            }
                            p{
                                color: #000;
                                font-weight: 500;
                                font-family: Nunito;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .col-4 {
                .ant-tabs {
                    .ant-tabs-content {
                        .ant-tabs-tabpane {
                            .ant-steps {
                                margin-bottom: 20px;
                            }
                            .steps-content {
                                .ant-form {
                                    .ant-radio-group {
                                        margin-bottom: 10px;
                                        .ant-radio-button-wrapper {
                                            margin-left: 20px;
                                        }
                                    }
                                    .ant-form-item {
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.fb-like {
    width: 150px !important;
}
