.logo-item{
    &:hover{
        border-bottom: 2px solid transparent !important;
        color: inherit !important;
      }
}
.right{
    &:hover{
        border-bottom: 2px solid transparent !important;
        color: inherit !important;
     
      }
    position: absolute !important;
    right: 10px !important;
}
.right-lg{
    &:hover{
        border-bottom: 2px solid transparent !important;
        color: inherit !important;
      }
    position: absolute !important;
    right: 100px !important;
}
.ant-badge {
  .ant-scroll-number {
      position: absolute;
      top: -17px;
      right: 2px;
      transform: translate(0, 50%);
     
      //transform-origin:50% 0%;
  }
}
.ant-menu-horizontal{
  background: #f1f1f1;
}