.complete{
    font-size: 20px;
    color: rgb(16, 163, 28);
    text-align: center;
    font-weight: bold;
    font-family: NunitoBold;
}
.title-text{
    font-size: 18px;
    font-weight: bold;
    font-family: NunitoBold;
}

.ant-modal-content {
    
    .ant-modal-body {
        height: 100%;
       
    }
}
.btn-disabled{
    position: relative;
    left: 100%;
    transform: translateX(-100%);
}
.list_donate_hot{
    .container{
        .list_card {
            .row{
                .card{
                    .ant-card {
                       padding-left: 10px;
                        &:hover{
                            .ant-card-cover{
                                img{
                                    transform: scale(1.1);
                                    transition: 1s;
                                }
                            }
                        }
                        .ant-card-cover{
                            img{
                               
                                transition: 0.5s;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}