.ant-form-item-control{
    .ant-form-item-control-input{
        .ant-form-item-control-input-content{
            .checkout-title{
                border: 1px solid #ffffff;
               text-align: center;
                border-radius: 5px;
                padding: 10px;
                background-color:#b30077;
                color: #fff;
                font-size: 13pt;
                font-weight: 600;
                width: 375px;
                height: 45px;
                cursor: pointer;
              }
        }
    }
}
.checkout-title{
    border: 1px solid #ffffff;
   text-align: center;
    border-radius: 5px;
    padding: 10px;
    background-color:#b30077;
    color: #fff;
    font-size: 13pt;
    font-weight: 600;
    width: 100%;
    height: 45px;
    cursor: pointer;
  }
        
        
