.wapper_register{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-top: 50px;
    border-radius: 10px;
    min-height: 500px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
    -moz-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
    box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
    .title_register{
        font-size: 25px;
        text-align: center;
        margin: 40px 0 40px 0;
    }
}