.ant-menu{
    background: #1b9e9e;
    color: #fff;
    .ant-menu-submenu{
        background: #1b9e9e;
        color: #fff;
    }
}
.ant-menu-item-group-title{
    background: #1b9e9e;
    color: #ffffff !important; 
    .anticon{
        color: #fff;    

    }
   
}