.wapper_listDonator{
  
        position: relative;
        left: 50%;
        top:30px;
        transform: translateX(-50%);
        width: 90%;
        //margin-top: 50px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
        -moz-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
        box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
        .listDonator {
            font-size: 25px;
            text-align: center;
            padding-top: 30px;
        }
}