body{
    //font-family: Nunito;
}
.col-8 {
    .ant-form {
        p{
            font-size: 16px;
            margin-bottom: 5px !important;
        }
        .ant-form-item {
            .ant-form-item-control {
                .ant-form-item-control-input {
                    .ant-form-item-control-input-content {
                        .ant-input-affix-wrapper-focused {
                            border: none !important;
                            box-shadow: none;
                        }
                        
                            .ant-input,
                            .ant-input:focus {
                                width: 100%;
                                box-sizing: border-box;
                                border: none;
                                font-size: 16px;
                                padding-left: 10px;
                                padding-bottom: 2px;
                                box-shadow: inset 0px -1px 0px 0px;
                                outline: none;
                                transition: opacity 0.5s ease-out;
                            }
                           
                        
                    }
                }
            }
        }
    }
}
.container{
    .wapper_edit_user{
        position: relative;
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
        width: 90%;
       
        border-radius: 10px;
        min-height: 700px;
        -webkit-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
        -moz-box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
        box-shadow: 0px 0px 10px -5px rgba(71, 71, 71, 1);
        .title_edit_user {
            font-size: 25px;
            text-align: center;
           padding-top: 30px;
        }
    }
    
}